/* BASE STYLES */

html {
  -webkit-font-smoothing:antialiased;
  font-size: 17px;
  @include respond-to($screen-sm) { font-size: 15px; }
  @include respond-to($screen-xxs) { font-size: 12px; }
}

@media only screen and (-webkit-min-device-pixel-ratio:1.25), only screen and (min-device-pixel-ratio:1.25), only screen and (min-resolution:200dpi), only screen and (min-resolution:1.25dppx) { -webkit-font-smoothing: subpixel-antialiased; }

body {
  @include copy-font();
  background-color: $white;
}

p {
  font-size: 17px;
  line-height: 1.5;
  margin-bottom: 20px;
}

hr {
  border-color: #F05F40;
  border-width: 3px;
  max-width: 50px;
}

hr.light {
  border-color: white;
}

a {
  -webkit-transition: all 0.35s;
  -moz-transition: all 0.35s;
  transition: all 0.35s;
  color: #F05F40;
}

a:hover,
a:focus {
  color: #eb3812;
}

h1, h2, h3, .h3, h4, .h4, h5, .h5, h6 {
  margin-top: 0;
  color : $white;
  @include heading-font();
}



h1,
.h1 {
  font-size: 3rem; 
  line-height: 3rem;
  margin-bottom: 1.5rem;
}

h2,
.h2 {
  font-size: 2.5rem; 
  line-height: 3rem;
  margin-bottom: 1.5rem;
}

h3,
.h3 {
  font-size: 2rem; 
  line-height: 2rem;
  margin-bottom: 2rem;
  font-weight: bold;
}

h4,
.h4 {
  font-size: 1.5rem; 
  margin-bottom: 1.5rem;
}

h5,
.h5 {
  font-size: 1.5rem; 
  margin-bottom: 1.5rem;
  font-weight: bold;
}


::-moz-selection {
  color: white;
  text-shadow: none;
  background: #222222;
}

::selection {
  color: white;
  text-shadow: none;
  background: #222222;
}

img::selection {
  color: white;
  background: transparent;
}

img::-moz-selection {
  color: white;
  background: transparent;
}

