// HOMEPAGE INTRO 

.intro {
  height: 140vh;
  padding: 200px 0;

  .top {
    max-width: 70%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
  }

  .bottom {
    max-width: 70%;
    position: absolute;
    top:300px;
    left: 100px;
    z-index: 2;
  }

  .intro-text {
    padding: 100px 40px;
  }

  .icon {
    max-width: 150px;
    margin-bottom: 20px;
  }
}

// SECTION WITH LEFT CAPTION

.left-caption {
  height: 140vh;
  padding: 200px 0;
  position: relative;

  img {
    max-width: 90%;
    position: absolute;
  }

  .caption {
    padding: 100px 40px;
  }

  .icon {
    max-width: 150px;
    margin-bottom: 20px;
  }
}

// PARALLAX IMAGE



.full-width-image {
  position: relative;
  background-size: cover;

  .full-width-caption {
    position: absolute;
    z-index: 10;
    width: 65%;

    &.caption-left {
        text-align: left; 
        left: 10%;
        bottom: 50%;
      }

    &.caption-right {
      text-align: right;
      right: 10%;
      bottom: 50%;
    }

    &.caption-center {
      top: 50%;
      transform: translateY(-50%);
      width: 100%;
      padding: 0 300px;
      text-align: center;
    }
  }

}

.parallax {
    min-height: 160vh; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

// SERVICES ICONS

.service-box {
  max-width: 400px;
  margin: 50px auto 0;
}

.service-box p {
  margin-bottom: 0;
}

.services-intro {
  padding: 80px 0;
}

// PORTFOLIO GRID

.grid-intro {
  padding: 40px 0;
}

.portfolio-box {
  position: relative;
  display: block;
  max-width: 650px;
  margin: 0 auto;

  img {
    max-width: 100%;
    width: 100%;
  }

  .portfolio-box-caption {
    color: white;
    opacity: 0;
    display: block;
    background: rgba(0, 0, 0, 0.6);
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100%;
    -webkit-transition: all 0.35s;
    -moz-transition: all 0.35s;
    transition: all 0.35s;
  }

    .portfolio-box-caption-content {
      width: 100%;
      text-align: left;
      position: absolute;
      bottom: 40px;
      left: 20px;
      padding: 0 20px;
  }

  .project-name {
    line-height: 1.2;
    font-size: 2.2rem;
    @include copy-font();

    &::after {
      content:"";
      position: relative;
      display: inline-block;
      background-color: $orange;
      opacity: 0;
      width: 20%;
      height: 3px;
      margin-top: 25px;
      @include transition(all .5s ease-in);
    }
  }
}

.portfolio-box:hover .portfolio-box-caption {
  opacity: 1;

  .project-name::after {
    opacity: 1;
    width: 80%;
    height: 3px;
  }

}

.portfolio-box:focus {
  outline: none;
}

// FOOTER

footer {
  border-top: 1px $grey solid;
}

// PRELOADER

.js div#preloader {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 9999;
  width: 100%;
  height: 100%;
  overflow: visible;
  background: $orange;
}

.spin {
  padding: 50px 0;
  position: relative;
  height: 500px;
  .gear {
    position:absolute;
  }

  .gear-01 {
    top: 58px;
    left: 330px;
    width: 110px;
    -webkit-animation: oppo-spin 5s linear infinite;
    animation: oppo-spin 5s linear infinite;
  }

  .gear-02 {
    width: 80px;
    -webkit-animation: spin 5s linear infinite;
    animation: spin 5s linear infinite;
  }

  @-webkit-keyframes spin {
    0%   {
        -webkit-transform: rotate(0deg);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(0deg);  /* IE 9 */
        transform: rotate(0deg);  /* Firefox 16+, IE 10+, Opera */
    }
    100% {
        -webkit-transform: rotate(360deg);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(360deg);  /* IE 9 */
        transform: rotate(360deg);  /* Firefox 16+, IE 10+, Opera */
    }
  }
  @keyframes spin {
    0%   {
        -webkit-transform: rotate(0deg);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(0deg);  /* IE 9 */
        transform: rotate(0deg);  /* Firefox 16+, IE 10+, Opera */
    }
    100% {
        -webkit-transform: rotate(360deg);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(360deg);  /* IE 9 */
        transform: rotate(360deg);  /* Firefox 16+, IE 10+, Opera */
    }
  }

  @-webkit-keyframes oppo-spin {
    0%   {
        -webkit-transform: rotate(0deg);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(0deg);  /* IE 9 */
        transform: rotate(0deg);  /* Firefox 16+, IE 10+, Opera */
    }
    100% {
        -webkit-transform: rotate(-360deg);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(-360deg);  /* IE 9 */
        transform: rotate(-360deg);  /* Firefox 16+, IE 10+, Opera */
    }
  }
  @keyframes oppo-spin {
    0%   {
        -webkit-transform: rotate(0deg);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(0deg);  /* IE 9 */
        transform: rotate(0deg);  /* Firefox 16+, IE 10+, Opera */
    }
    100% {
        -webkit-transform: rotate(-360deg);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(-360deg);  /* IE 9 */
        transform: rotate(-360deg);  /* Firefox 16+, IE 10+, Opera */
    }
  }
}




