// CAPTION SECTIONS

.right-caption, .left-caption {
  height: 140vh;
  padding: 200px 0;

  @include respond-to($screen-sm){
    padding:40px 20px;
    height: auto;
  }

  .single {
    max-width: 100%;
    position: relative;
    top: 150px;
    
    @include respond-to($screen-sm){
      top: 0;
    }
  }

  .top {
    max-width: 70%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;

    @include respond-to($screen-sm){
      position: relative;
      max-width: 100%;
      width: 100%;
      padding: 0;
    }
  }

  .bottom {
    max-width: 70%;
    position: absolute;
    top:300px;
    left: 100px;
    z-index: 2;
    @include respond-to($screen-sm){
      display: none;
    }
  }

  .caption {
    padding: 100px 40px;

    @include respond-to($screen-sm){
      padding: 40px 0;
    }

  }

  .icon {
    max-width: 150px;
    margin-bottom: 20px;
  }
}


// PARALLAX IMAGE

.full-width-image {
  position: relative;
  background-size: cover;

  h2 {
    @include respond-to($screen-sm){
      font-size: 2rem;
    }

    @include respond-to($screen-sm){
      font-size: 1.5rem;
    }
  }

  .full-width-caption {
    position: absolute;
    z-index: 10;
    width: 65%;

    @include respond-to($screen-sm) { 
      width: 80%;
    }

    &.caption-left {
        text-align: left; 
        left: 10%;
        bottom: 50%;

        @include respond-to($screen-sm) { 
          bottom: 20%;
        }
      }

    &.caption-right {
      text-align: right;
      right: 10%;
      bottom: 50%;
      
      @include respond-to($screen-sm) { 
        bottom: 20%;
      }
    }

    &.caption-center {
      top: 50%;
      transform: translateY(-50%);
      width: 100%;
      padding: 0 300px;
      text-align: center;

      @include respond-to($screen-sm) { 
        bottom: 20%;
        padding: 0;
      }
    }
  }

}

.parallax {
    min-height: 160vh; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    @include respond-to($screen-sm) { 
      min-height: 500px;
      background-attachment: scroll;
    }
}

// THREE ICONS

.icon-wrap {
  padding: 40px 0 80px;

  .icon-box {
    max-width: 400px;
    margin: 50px auto 0;
    padding: 0 40px;

    .counter {
      &:after {
        display: inline-block;
        content: "+";
        margin-left: 5px;
      }
    }

    img {
      max-width: 200px;
    }

    p {
      margin-bottom: 0;
    }
  }
}

// FULL WIDTH TEXT

.full-text {
  padding: 80px 0;

  @include respond-to($screen-sm) { 
    padding: 40px 35px;
  }
}


// PORTFOLIO GRID

.grid-intro {
  padding: 40px 0;

  .btn.active {
    background-color: $grey;
    color: $white
  }

}

.grid:after {
  content: '';
  display: block;
  clear: both;
}

.project-grid {

  width: 25%;
  float: left;
  clear: none;
  

  @include respond-to($screen-sm) {   
    width: 50%;
  }

  .project-item {
    position: relative !important;
  }
}

.project-box {
  position: relative;
  display: block;
  max-width: 650px;
  margin: 0 auto;

  img {
    max-width: 100%;
    width: 100%;
  }

  .project-box-caption {
    color: white;
    opacity: 0;
    display: block;
    background: rgba(0, 0, 0, 0.6);
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100%;
    -webkit-transition: all 0.35s;
    -moz-transition: all 0.35s;
    transition: all 0.35s;
  }

    .project-box-caption-content {
      width: 100%;
      text-align: left;
      position: absolute;
      bottom: 40px;
      left: 20px;
      padding: 0 80px 0 20px;
  }

  .project-name {
    line-height: 1.2;
    font-size: 1.8rem;
    @include copy-font();

    &::after {
      content:"";
      position: absolute;
      bottom: 0;
      left: 20px;
      display: inline-block;
      background-color: $orange;
      opacity: 0;
      width: 20%;
      height: 3px;
      margin-top: 25px;
      @include transition(all .5s ease-in);
    }
  }
}

.project-box:hover .project-box-caption {
  opacity: 1;

  .project-name::after {
    opacity: 1;
    width: 70%;
    height: 3px;
  }

}

.project-box:focus {
  outline: none;
}







