// ALL FORMS

.gform_wrapper {

  label {

    text-transform: uppercase;

  }
  
  input, textarea {
    border: 2px solid $grey;
  }
  
  input[type=submit] {
    background-color: $orange;
    display: inline-block;
    padding: 10px 50px;
    font-weight: 600;
    font-size: 1.2rem;
    text-transform: uppercase;
    color: $white;
    border-radius: 0;
    -webkit-border-radius: 0;
  -moz-border-radius: 0;
    border: 2px $orange solid;
    @include transition($transition300);
    
    @include respond-to($screen-xs) { 
      font-size: 1.5rem;
    }

    &:hover {
      background-color: transparent;
      color: $orange;
      text-decoration: none;
    }
  }
}

// CONTACT

.form-contact {
  .gform_wrapper {
    
    #input_1_2 {
      width: 100%;
    }
  }

}

// SERVICES

.form-services {

  #input_4_2 {
    width: 100%;
  }

  #field_4_3 {
    ul {
      list-style-type: none;
    }

    li {
      float:left;
      display: inline-block;
      margin-right: 15px;

      @include respond-to($screen-xs) { 
        float: none;
        display: block;
      }


      label {
        margin-top: 5px;
        margin-left: 7px;
      }
    }
  }

}








