.navbar-default {

  background-color: rgba(0, 0, 0, 0.25);
  border: none;
  @include transition(all .5s ease-in);

  @include respond-to($screen-xs) { 
    
    background-color: $orange;
  } 

}

.navbar-brand {
    width: 250px;
    height: auto;

    img {
      max-width: 100%;
    }

}

.navbar-default .nav > li > a,
.navbar-default .nav > li > a:focus {
  color: $white;
  @include heading-font();
  font-size: 1.1rem;

  &::after {
    content:"";
    position: relative;
    display: inline-block;
    background-color: $orange;
    opacity: 0;
    width: 100%;
    height: 5px;
    @include transition(all .5s ease-in);
  }

}

.navbar-default .nav > li > a:hover,
.navbar-default .nav > li > a:focus:hover {
  
  color: #ddd;

  &::after {
    opacity: 1;
    width: 100%;
    height: 4px;
    @include transition(all .5s ease-in);
  }

}

.navbar-default .navbar-header .navbar-toggle {
  font-weight: 700;
  font-size: 12px;
  color: #222222;
  text-transform: uppercase;
}


.navbar-default .nav > li.active > a,
.navbar-default .nav > li.active > a:focus {
  color: #F05F40 !important;
  background-color: transparent;
}

.navbar-default .nav > li.active > a:hover,
.navbar-default .nav > li.active > a:focus:hover {
  background-color: transparent;
}





