.flexslider {
  margin-bottom: 0;
  border: none;

  .hero-caption {
    position: absolute;
    z-index: 10;
    width: 65%;
    
 
    &.caption-left {
      text-align: left; 
      left: 10%;
      bottom: 10%;
    }

    &.caption-right {
      text-align: right;
      right: 10%;
      bottom: 10%;
    }

    &.caption-center {
      top: 70%;
      transform: translateY(-50%);
      width: 100%;
      padding: 0 300px;
      text-align: center;
      
      @include respond-to($screen-sm){
       padding: 0;
      }

    }

    .btn {
      margin: 15px 0;
    }

    p {
      color: $white;
      max-width: 500px;
      margin: 0 auto 0 auto;
      font-size: 1.2rem;
    }
  
    h2 {
      margin-bottom: 0;
      position: relative;

      @include respond-to($screen-sm){
        font-size: 2rem;
      }

      @include respond-to($screen-xs){
        font-size: 1.5rem;
      }
    }

  }
  
  .slides li {
    position: relative;
  }

}

#single-hero {
  position: relative;
  margin-top: 0;
  width: 100%;
  overflow: hidden;
  height: 500px !important;
  min-height: 500px !important;
}

#hero-slider {
  position: relative;
  margin-top: 0;
  width: 100%;
  overflow: hidden;
  height: 100vh;

  @include respond-to($screen-sm){
    height: 60vh;
  }
  
  @include respond-to($screen-xs){
    margin-top: 30px;
  }

  .slides {
      li {
        position: inherit;
        display: block;
        height: 88vh;
        
        @include respond-to($screen-sm){
          height: 60vh;
        }
      }

  .hero-bg{
    display: block;
    height: 100%;
    width: 100%;
    position: relative;
    background-size: cover;
    background-position: center;

      @include respond-to($screen-sm){
        min-height: 0;
       
      }
  }
  .flex-control-nav {
    position: relative;
    z-index: 10;
    bottom: 40px;

    @include respond-to($screen-xxs){
      display: none;
    }
  }

  .flex-direction-nav {
    position: absolute;
    top: 50%;
    width: 100%;
    margin-top: -30px;

    a {
      height: 55px;
      color: rgba(255,255,255, 0.8);
      // &:hover {
      //   color: ;
      // }

      // &.flex-prev:before{
      //   font-family: "font-awesome";
      //   font-size: 3rem;
      //   content: "\f105";
      // }

      // &.flex-next:before{
      //   font-size: 3rem;
      //   font-family: "tmbricons";
      //   content: "\EA04";
      // }
    }

    @include respond-to($screen-sm){
      top: -250px;
    }
    @include respond-to($screen-xs){
      top: -200px;
    }
    @include respond-to($screen-xxs){
      display: none;
    }

  }

  .flex-control-paging {

    li {

      @include respond-to($screen-xxs){
          margin: 0 4px;
      }

      a {
        background: rgba(255, 255, 255, 0.8);
        height: 16px;
        width: 16px;

        // &.flex-active {
          
        // }

        @include respond-to($screen-xxs){
          width: 12px;
          height: 12px;
        }
      }

    }
  }

}}

.flex-direction-nav  {
  a {
    width: 100px;
    height: 100px;
  }
  
  .flex-next {
    background-position: 100% 0;
    right: -30px;
    
    &:before {
      font-family: "fontawesome";
      font-size: 4rem;
      color: $white;
      content:"\f105" !important;
    }
      
  }

  .flex-prev {
    background-position: 100% 0;
    left: -30px
    
    &:before {
      font-family: "fontawesome";
      font-size: 4rem;
      color: $white;
      content:"\f104";
    }
      
  }
} 