// Core variables and mixins
@import "../../bower_components/twbs-bootstrap-sass/vendor/assets/stylesheets/bootstrap/_variables.scss";
@import "../../bower_components/twbs-bootstrap-sass/vendor/assets/stylesheets/bootstrap/_mixins.scss";

// Reset
@import "../../bower_components/twbs-bootstrap-sass/vendor/assets/stylesheets/bootstrap/_normalize.scss";
// @import "../../bower_components/twbs-bootstrap-sass/vendor/assets/stylesheets/bootstrap/_print.scss";

// Core CSS
@import "../../bower_components/twbs-bootstrap-sass/vendor/assets/stylesheets/bootstrap/_scaffolding.scss";
@import "../../bower_components/twbs-bootstrap-sass/vendor/assets/stylesheets/bootstrap/_type.scss";
@import "../../bower_components/twbs-bootstrap-sass/vendor/assets/stylesheets/bootstrap/_code.scss";
@import "../../bower_components/twbs-bootstrap-sass/vendor/assets/stylesheets/bootstrap/_grid.scss";
@import "../../bower_components/twbs-bootstrap-sass/vendor/assets/stylesheets/bootstrap/_tables.scss";
@import "../../bower_components/twbs-bootstrap-sass/vendor/assets/stylesheets/bootstrap/_forms.scss";
@import "../../bower_components/twbs-bootstrap-sass/vendor/assets/stylesheets/bootstrap/_buttons.scss";

// Components
@import "../../bower_components/twbs-bootstrap-sass/vendor/assets/stylesheets/bootstrap/_component-animations.scss";
// @import "../../bower_components/twbs-bootstrap-sass/vendor/assets/stylesheets/bootstrap/_glyphicons.scss";
@import "../../bower_components/twbs-bootstrap-sass/vendor/assets/stylesheets/bootstrap/_dropdowns.scss";
@import "../../bower_components/twbs-bootstrap-sass/vendor/assets/stylesheets/bootstrap/_button-groups.scss";
@import "../../bower_components/twbs-bootstrap-sass/vendor/assets/stylesheets/bootstrap/_input-groups.scss";
@import "../../bower_components/twbs-bootstrap-sass/vendor/assets/stylesheets/bootstrap/_navs.scss";
@import "../../bower_components/twbs-bootstrap-sass/vendor/assets/stylesheets/bootstrap/_navbar.scss";
@import "../../bower_components/twbs-bootstrap-sass/vendor/assets/stylesheets/bootstrap/_breadcrumbs.scss";
@import "../../bower_components/twbs-bootstrap-sass/vendor/assets/stylesheets/bootstrap/_pagination.scss";
@import "../../bower_components/twbs-bootstrap-sass/vendor/assets/stylesheets/bootstrap/_pager.scss";
@import "../../bower_components/twbs-bootstrap-sass/vendor/assets/stylesheets/bootstrap/_labels.scss";
@import "../../bower_components/twbs-bootstrap-sass/vendor/assets/stylesheets/bootstrap/_badges.scss";
// @import "../../bower_components/twbs-bootstrap-sass/vendor/assets/stylesheets/bootstrap/_jumbotron.scss";
// @import "../../bower_components/twbs-bootstrap-sass/vendor/assets/stylesheets/bootstrap/_thumbnails.scss";
@import "../../bower_components/twbs-bootstrap-sass/vendor/assets/stylesheets/bootstrap/_alerts.scss";
// @import "../../bower_components/twbs-bootstrap-sass/vendor/assets/stylesheets/bootstrap/_progress-bars.scss";
// @import "../../bower_components/twbs-bootstrap-sass/vendor/assets/stylesheets/bootstrap/_media.scss";
@import "../../bower_components/twbs-bootstrap-sass/vendor/assets/stylesheets/bootstrap/_list-group.scss";
// @import "../../bower_components/twbs-bootstrap-sass/vendor/assets/stylesheets/bootstrap/_panels.scss";
// @import "../../bower_components/twbs-bootstrap-sass/vendor/assets/stylesheets/bootstrap/_wells.scss";
@import "../../bower_components/twbs-bootstrap-sass/vendor/assets/stylesheets/bootstrap/_close.scss";

// Components w/ JavaScript
@import "../../bower_components/twbs-bootstrap-sass/vendor/assets/stylesheets/bootstrap/_modals.scss";
// @import "../../bower_components/twbs-bootstrap-sass/vendor/assets/stylesheets/bootstrap/_tooltip.scss";
// @import "../../bower_components/twbs-bootstrap-sass/vendor/assets/stylesheets/bootstrap/_popovers.scss";
// @import "../../bower_components/twbs-bootstrap-sass/vendor/assets/stylesheets/bootstrap/_carousel.scss";

// Utility classes
@import "../../bower_components/twbs-bootstrap-sass/vendor/assets/stylesheets/bootstrap/_utilities.scss";
@import "../../bower_components/twbs-bootstrap-sass/vendor/assets/stylesheets/bootstrap/_responsive-utilities.scss";

// FONTS
@import '../../bower_components/font-awesome/scss/font-awesome'; // #### have to copy fonts to public folder

// Animate CSS
@import 'vendor/animate.scss';

// Magnificent pop up
@import '../../bower_components/magnific-popup/src/css/main';

// Video JS - #### have to rename file to sass - and copy font to public folder
// @import 'vendor/video-js';

// Flex Slider #### have to rename file to sass - move fonts to public
@import 'vendor/flexslider';

// magnific-popup #### have to rename file to sass
@import '../../bower_components/magnific-popup/dist/magnific-popup';


/* THEME STYLES
/===================================================== */

@import 'helpers';
@import 'base';
@import 'preloader';
@import 'header';
@import 'footer';
@import 'social';
@import 'buttons';
@import 'forms';
@import 'content';
@import 'hero-slider';
@import 'publications';
@import 'team';












