// PRELOADER

.js div#preloader {
  position: fixed;
  z-index: 9999;
  width: 100%;
  height: 100%;
  overflow: visible;
  background: $orange;

      @include respond-to($screen-xs) { 
      display: none;
    } 
}

.gear-wrap {
  @include respond-to($screen-xs) { 
    position: relative;
    width: 200px;
    height: 200px;
    padding: 0 25%;
  } 
}

.spin {
  padding: 50px 0;
  position: relative;
  height: 500px;
  .gear {
    position:absolute;
  }

  .text-center {
    @include respond-to($screen-xs) { 
      text-align: inherit;
    } 
  }
  
  .gear-01 {
    top: 58px;
    left: 330px;
    width: 110px;
    -webkit-animation: oppo-spin 5s linear infinite;
    animation: oppo-spin 5s linear infinite;

    @include respond-to($screen-md) { 
      left: 425px;
    } 

    @include respond-to($screen-sm) { 
      left: 315px;
    } 

    @include respond-to($screen-xs) { 
      // left: 215px;
    } 
  }

  .gear-02 {
    width: 80px;
    -webkit-animation: spin 5s linear infinite;
    animation: spin 5s linear infinite;

    @include respond-to($screen-xs) { 
      // left: 275px;
    }
  }

  @-webkit-keyframes spin {
    0%   {
        -webkit-transform: rotate(0deg);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(0deg);  /* IE 9 */
        transform: rotate(0deg);  /* Firefox 16+, IE 10+, Opera */
    }
    100% {
        -webkit-transform: rotate(360deg);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(360deg);  /* IE 9 */
        transform: rotate(360deg);  /* Firefox 16+, IE 10+, Opera */
    }
  }
  @keyframes spin {
    0%   {
        -webkit-transform: rotate(0deg);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(0deg);  /* IE 9 */
        transform: rotate(0deg);  /* Firefox 16+, IE 10+, Opera */
    }
    100% {
        -webkit-transform: rotate(360deg);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(360deg);  /* IE 9 */
        transform: rotate(360deg);  /* Firefox 16+, IE 10+, Opera */
    }
  }

  @-webkit-keyframes oppo-spin {
    0%   {
        -webkit-transform: rotate(0deg);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(0deg);  /* IE 9 */
        transform: rotate(0deg);  /* Firefox 16+, IE 10+, Opera */
    }
    100% {
        -webkit-transform: rotate(-360deg);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(-360deg);  /* IE 9 */
        transform: rotate(-360deg);  /* Firefox 16+, IE 10+, Opera */
    }
  }
  @keyframes oppo-spin {
    0%   {
        -webkit-transform: rotate(0deg);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(0deg);  /* IE 9 */
        transform: rotate(0deg);  /* Firefox 16+, IE 10+, Opera */
    }
    100% {
        -webkit-transform: rotate(-360deg);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(-360deg);  /* IE 9 */
        transform: rotate(-360deg);  /* Firefox 16+, IE 10+, Opera */
    }
  }
}