.publication-wrap {
  padding-top: 140px;
  padding-bottom: 80px;


  h2, p {
    color: $grey;
  }

  .publication-text {

    @include respond-to($screen-sm) { 
      padding: 20px 35px;
    }
  }

  .img-carousel {

    .slides {
      @include respond-to($screen-xs) { 
        width: 100% !important;
      }
    }

    li {
      margin-right: 5px;

      @include respond-to($screen-md) { 
        margin-right: 10px;
        width: 170px !important;
      }
      
      @include respond-to($screen-sm) { 
        margin-right: 20px;
        width: 230px !important;
      }

      @include respond-to($screen-xs) { 
        margin-right: 8px;
        width: 30% !important;
      }
    }

  	img {
  		max-width: 100%;
      opacity: 1;
      @include transition($transition300);

      &:hover {
        opacity: .7;
      }
  	}
  }
  
  .flex-direction-nav  {
  
    .flex-next, .flex-prev {
      
      &:before {
        color: $grey;
      }

      @include respond-to($screen-xs) { 
        display: none;
      }
        
    }

  } 

}

.related-posts {
	padding: 35px 0;

  h2 {
    @include respond-to($screen-xs) { 
      margin-bottom: 0;
    }
  }
}

