.publication-wrap {
  margin-top: 140px;
  padding-bottom: 80px;

  h2, p {
    color: $grey;
  }

  .img-carousel {
  	img {
  		max-width: 100%;
  		width: 200px;
      opacity: 1;
      @include transition($transition300);

      &:hover {
        opacity: .7;
      }
  	}
  }
  
  .flex-direction-nav  {
  
    .flex-next, .flex-prev {
      
      &:before {
        color: $grey;
      }
        
    }

  } 

}

.related-posts {
	padding: 35px 0;
}

