.team-grid {

  .modal-header {
    border: none;
  }

  .modal-content {
    @include respond-to($screen-xs) { 
       height: 90vh
    } 
  }
      button.close {     
        
        @include respond-to($screen-sm) { 
        font-size: 4rem;  
        }
    }

  .modal-body {
    height: 400px;
    padding: 35px;

    .team-content {
      margin-left: 20px;
      
      @include respond-to($screen-sm) { 
       margin-left: 0;
      } 
    }



    h4,h5 {
      color: $grey;
      margin-bottom: 10px;
    }

    h5 {
      font-style: italic;
      font-size: 1rem;
    }

    p {
      @include respond-to($screen-sm) { 
       display: none;
      } 
    }

    .team-image {
      @include respond-to($screen-xs) { 
       margin-bottom: 20px;
      } 
    }
  }

}