.team-grid {

  .project-box {
    .project-box-caption {
      @include respond-to($screen-xs) {
         opacity: 1;
         background: rgba(0,0,0,.3);
      }
    }
  }

  .modal-header {
    border: none;
  }

  .modal-content {
    @include respond-to($screen-xs) {
       height: 90vh
    }
  }

  button.close {
    @include respond-to($screen-sm) {
      font-size: 4rem;
    }
  }

  .modal-dialog {
    width: 80%;
  }

  .modal-body {
    padding: 35px;
    display: inline-block;

    .team-content {
      margin-left: 20px;

      @include respond-to($screen-sm) {
       margin-left: 0;
      }
    }

    .phone {
      margin-left: 20px;
    }

    h4,h5 {
      color: $grey;
      margin-bottom: 10px;
    }

    h5 {
      font-style: italic;
      font-size: 1rem;
    }

    p {

      @include respond-to($screen-sm) {
       font-size: 1rem;
      }

      @include respond-to($screen-xs) {
       display: none;
      }
    }

    .team-image {
      @include respond-to($screen-sm) {
       margin-bottom: 20px;
       margin-right: 20px;
      }
    }
  }

}
